<!DOCTYPE html>
<html lang="en">
  
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../style.css" type="text/css">

</head>

<body>
        
    <div class="container">
            
        <div id="allItems">

            <h1><strong>What's the Temperature?</strong></h1><br>
            <h4>Enter a city/country/postcode to find out the temperature today!</h4>

            <form method="POST" action="/address">
                <div class="form-group">
                    <label for="city"></label>
                    <input type="text" class="form-control" name="address" id="city" placeholder="Enter a city/country/postcode">
                </div>
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>